/* Navbar Styles */
.navbar {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  background-color: white;
}

.logo {
  margin-right: 10px;
}

.navbar-brand {
  color: #000000;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #0bb56e;
}

.nav-but {
  padding: 2%;
  margin-left: 10px;
}

.btn-outline-custom {
  color: #000000;
  border-color: green;
}

.btn-outline-custom:hover {
  color: #ffffff;
  background-color: green;
}

/* Carousel Styles */
.carousel-inner img {
  max-height: fit-content; /* Adjust the value as needed */
  width: auto;
  margin: auto;
}

/* Wrapper Styles */
.wrapper {
  position: relative;
  width: 80vw;
  margin: 0 auto; /* Center the wrapper horizontally */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

/* Custom Carousel Styles */
#carouselExample {
  margin-top: 5px;
}

.carousel-inner img {
  max-height: 600px; /* Adjust the max-height as needed */
  width: auto;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  color: #fff;
  font-size: 2rem;
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-indicators li {
  background-color: #fff;
  border: 1px solid #18f98f;
}

.carousel-indicators .active {
  background-color: #18f98f;
  border-color: #18f98f;
}

.container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid #18f98f;
}

i {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
}

span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  padding: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }

  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
  }

  .container {
    width: calc(50% - 20px);
    height: 30vmin;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }

  .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

/* Add this CSS to your existing stylesheet or in a style tag in your HTML */
/* Add this CSS to your existing stylesheet or in a style tag in your HTML */

.welcome-message {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: #000000;
}

.welcome-section {
  position: relative;
}

.welcome-image {
  width: 90%; /* Set the image to 100% width of its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 800px; /* Set a maximum width for larger screens */
  margin: 0 auto; /* Center the image horizontally */
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 1rem; /* Add padding for better spacing on small screens */
}

.section-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  width: calc(100% - 2rem); /* Full width for small screens */
  margin: 1rem 0; /* Adjust margin for better spacing */
}

.event-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
  color: #2c7bfe;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem; /* Reduced icon size */
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f194c;
  margin-bottom: 1rem;
}

p {
  color: #575a7b;
  font-size: 1rem;
  line-height: 1.5;
}

/* Media Query for smaller screens */
@media screen and (min-width: 576px) {
  .column {
    width: calc(50% - 2rem); /* Two columns for screens wider than 576px */
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9f6f2;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.your-custom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f194c;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  color: #575a7b;
  font-size: 1rem;
  line-height: 1.5;
}

.mb-5 {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Media Query for small-sized screens */
@media screen and (max-width: 576px) {
  .col {
    flex: 0 0 calc(100% - 20px);
  }

  .card-img-top {
    height: 120px;
  }

  .card-body {
    padding: 2px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .btn-primary {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 3000px;
  margin: 10px auto;
}

.photo {
  width: calc(30% - 20px);
  margin: 10px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.2s;
}

.photo:hover img {
  transform: scale(1.1);
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

:root {
  --primary-color: #27debf;
}

.event-container {
  width: 80%;
  margin: 0 auto;
}

.event-header {
  text-align: center;
  margin: 50px 0;
}

.event-header h5 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.event-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-item {
  width: 30%;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.event-item:hover {
  transform: translateY(-10px);
}

.event-item img {
  width: 100%;
  border-radius: 10px;
}

.event-details {
  padding: 5%;
  box-shadow: 0px 6px 18px -8px rgba(118, 130, 183, 1);
  border-radius: 10px;
}

span.event-date {
  color: var(--primary-color);
  font-weight: 700;
}

a.event-view-all {
  display: block;
  width: 10%;
  margin: 5% auto;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  padding: 1%;
  text-decoration: none;
  border-radius: 4px;
}

.event-item a.event-read-more {
  text-decoration: none;
  color: var(--primary-color);
}

.event-breaker {
  display: inline-block;
  height: 5px;
  background: var(--primary-color);
  width: 30px;
  position: relative;
  border-radius: 4px;
}

.event-breaker:after {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 30px;
  height: 5px;
  left: 150%;
  border-radius: 4px;
}

@media screen and (max-width: 786px) {
  .event-item {
    width: 45%;
  }
  a.event-view-all {
    width: 20%;
  }
}
@media screen and (max-width: 430px) {
  .service-column {
    width: 100%;
    margin: 1em 0;
  }
}

* {
  box-sizing: border-box;
}
.service-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* Align from right to left */
  align-items: stretch;
}

.service-column {
  flex: 1;
  max-width: 33.33%; /* Set the maximum width to 33.33% */
  padding: 1em; /* Add some padding between the cards */
}

.service-card {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin: 1em 0;
}

p {
  color: #666666;
  font-size: 1rem;
  line-height: 1.6;
}

.service-icon-wrapper {
  background-color: #2c7bfe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin: 0 auto 1em;
}

.service-icon-wrapper i {
  color: #ffffff;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .service-column {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .service-column {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.custom-contact-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;

  padding: 70px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.custom-container {
  max-width: 1800px;
  margin-top: 0 auto;
}

.custom-contact-form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000000;
  font-family: "Poppins";
}

.custom-contact-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #69275c;
  text-align: center;
}

.custom-contact-form .custom-main {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.custom-content {
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.custom-form-img {
  flex-basis: 40%;
  background: #ffffff;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.custom-form-img img {
  max-width: 100%;
}

.custom-btn,
button,
input {
  border-radius: 35px;
}

.custom-btn:hover,
button:hover {
  color: #97359c;
  transition: 0.5s ease;
}

.custom-contact-form form {
  margin: 30px 0;
}

.custom-contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fcfcfc;
  transition: 0.3s ease;
}

.custom-contact-form input:focus {
  background: transparent;
  border: 1px solid #69275c;
}

.custom-contact-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #69275c;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 15px;
  border: 1px solid #69275c;
}

@media (max-width: 736px) {
  .custom-contact-form .custom-main {
    flex-direction: column;
  }
  .custom-contact-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .custom-form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
  }
  .custom-content {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
